#container {
    display:flex;
    flex-direction:column;
    border:1px solid;
    max-width: 960px;
    max-height: 960px;
}

.gridRow {
    display:flex;
}

.gridCell {
width:30px;
height:30px;
border: 1px solid;
}